<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666504086836-6sb5r77ee1dhurivjsau8j6vvn80ota2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666504086836-6sb5r77ee1dhurivjsau8j6vvn80ota2</string>
	<key>API_KEY</key>
	<string>AIzaSyABT4w6i9TLppNahcYSrZP_y24XVFGrTWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>666504086836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryuki.Quizlet-ish2</string>
	<key>PROJECT_ID</key>
	<string>quizlet-ish2</string>
	<key>STORAGE_BUCKET</key>
	<string>quizlet-ish2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666504086836:ios:e829496e40f0f84aee9161</string>
</dict>
</plist>