<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131410799451-er4ueddjj888n6p1cu2bet2hhidt9sk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131410799451-er4ueddjj888n6p1cu2bet2hhidt9sk2</string>
	<key>API_KEY</key>
	<string>AIzaSyA0LqGPffmsRon73yl1IL_a8f7EHggBTOY</string>
	<key>GCM_SENDER_ID</key>
	<string>131410799451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryuki.Quizlet-ish3</string>
	<key>PROJECT_ID</key>
	<string>quizlet-ish3</string>
	<key>STORAGE_BUCKET</key>
	<string>quizlet-ish3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131410799451:ios:566146f3870f5eb05cc87e</string>
</dict>
</plist>